In [1]:
import gzip
import pickle
import os
from tqdm.notebook import tqdm
import pandas as pd
#from web3 import Web3
import web3
import numpy as np
import matplotlib.pyplot as plt

/Users/kris/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
path_dir = './data/'
os.makedirs(path_dir, exist_ok=True)

In [3]:
file_fees = 'txs_fees.csv.gz'
swap_df = pd.read_csv(path_dir+'/'+file_fees,
                        sep=',', compression='gzip')
swap_df.head()

,transactionHash,blockNumber,transactionIndex,sender,receiver,gasUsed,effectiveGasPrice,fees,status
0,0xe2776359e192a554f33f736c7e31d0c950a2842151d2...,8600000,0,0x1e45995a814db6a84b70aeece985779639c7deff,0x2da10a1e27bf85cedd8ffb1abbe97e53391c0295,1147959,250000000,0.000287,1
1,0xf3f5c1d29a09e65e712f54dd9b6cec7a9f56dfd3af52...,8600001,1,0x317b2249c1d02e252869db64cb6e34941282b3c1,0x2da10a1e27bf85cedd8ffb1abbe97e53391c0295,379060,250000000,0.000095,1
2,0xac2306a5ebe519d4debbbebbf6f5d9c9d007dbf09243...,8600006,0,0x025e5996941f9aece41631554991ccd263bdde6a,0x2da10a1e27bf85cedd8ffb1abbe97e53391c0295,519841,250000000,0.000130,1
3,0xc4c8a7095a8361aeda3c1583480a3d6dd16a49dc5fda...,8600011,0,0x50b68702548fd2bfde1c4c02129cb2ce7067b2c4,0x80115c708e12edd42e504c1cd52aea96c547c05c,423673,250000000,0.000106,1
4,0xeaf2425c65119702f3bc982be543bff9a455912e38d6...,8600021,0,0x66e41cae81ee95d56da2d7d14164119e948bd64f,0x2da10a1e27bf85cedd8ffb1abbe97e53391c0295,1588011,250000000,0.000397,1

In [4]:
file1 = 'zkSwap-Uniswap-V2-WBTC-ETH_Swap.csv.gz'
swap1_df = pd.read_csv(path_dir+'/'+file1,
                        sep=',', compression='gzip')
swap1_df.head()

,Unnamed: 0,blockNumber,transactionHash,address,transactionIndex,logIndex,topics_0,topics_1,topics_2,topics_3,data,timestamp,event_name
0,0,7804646,0x3c45fb6345d2b1b08e42c7f1d0c1628d958e82024e5d...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,4,26,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x000000000000000000000000da4f035e3f207e15c8d6...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-05 09:36:16,Swap
1,1,7928516,0xcb06bdfc889a060328520612e8775c310888a1e8fd30...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,0,5,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x00000000000000000000000018381c0f738146fb694d...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-06 20:44:43,Swap
2,2,7938892,0x96833661dff7d2aa3894b02ed4d9a45340c3cddce53d...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,0,5,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x00000000000000000000000018381c0f738146fb694d...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-06 23:39:33,Swap
3,3,7990324,0x434608460b2f4e574095d38bf8cc56b325d87483c071...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,10,62,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x000000000000000000000000ac2939783d10cceb344c...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-07 14:09:50,Swap
4,4,7990465,0xb2f41ff0578f244d148d3152ec78d1860f59c153c456...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,3,30,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x00000000000000000000000018381c0f738146fb694d...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-07 14:12:13,Swap

In [6]:
swap2_df = swap1_df.merge(swap_df[['transactionHash','gasUsed','effectiveGasPrice', 'fees', 'status']], on='transactionHash', how='left')

swap2_df.head()

,Unnamed: 0,blockNumber,transactionHash,address,transactionIndex,logIndex,topics_0,topics_1,topics_2,topics_3,data,timestamp,event_name,gasUsed,effectiveGasPrice,fees,status
0,0,7804646,0x3c45fb6345d2b1b08e42c7f1d0c1628d958e82024e5d...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,4,26,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x000000000000000000000000da4f035e3f207e15c8d6...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-05 09:36:16,Swap,2008672,250000000,0.000502,1
1,1,7928516,0xcb06bdfc889a060328520612e8775c310888a1e8fd30...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,0,5,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x00000000000000000000000018381c0f738146fb694d...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-06 20:44:43,Swap,761515,250000000,0.000190,1
2,2,7938892,0x96833661dff7d2aa3894b02ed4d9a45340c3cddce53d...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,0,5,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x00000000000000000000000018381c0f738146fb694d...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-06 23:39:33,Swap,750924,250000000,0.000188,1
3,3,7990324,0x434608460b2f4e574095d38bf8cc56b325d87483c071...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,10,62,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x000000000000000000000000ac2939783d10cceb344c...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-07 14:09:50,Swap,1254907,250000000,0.000314,1
4,4,7990465,0xb2f41ff0578f244d148d3152ec78d1860f59c153c456...,0xe5716ad6873f7d9919b0a72f5b33570f77c1a615,3,30,0xd78ad95fa46c994b6551d0da85fc275fe613ce37657f...,0x00000000000000000000000018381c0f738146fb694d...,0x00000000000000000000000018381c0f738146fb694d...,NaN,0x00000000000000000000000000000000000000000000...,2023-07-07 14:12:13,Swap,1750045,250000000,0.000438,1

In [11]:
len(swap2_df)

5869

In [12]:
swap2_df.to_csv(path_dir+'/'+'zkSwap-Uniswap-V2-WBTC-ETH_Swap_fees.csv', sep=',')